section {
    padding-top: 40px;
    text-align: center;
}

body {
    font-family: 'Roboto hin', sans-serif;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center bottom;
    color: #333;
    background-color: #f5f5f5;
    /*bodyColor*/
    line-height: 2;
}


.profile-label {
    color: #023469;
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  /* Styling for the logout link */
  .logout-link {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff; /* Change this to your desired background color */
    padding: 10px;
    width: 170px;
    border: 1px solid #ccc; /* Change this to your desired border color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Change this to your desired box shadow */
    z-index: 1;
  }

  /* Show the logout link when hovering over the profile label */
  .profile-label:hover .logout-link {
    display: block;
  }

p {
    text-align: center;
}

header {
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    z-index: 100;


}



.header-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.separator-line {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    /* Adjust the color as needed */
    margin-top: 20px;
    /* You can adjust the margin to control the spacing */
}

.logo {
    max-width: 80px;
    margin-top: 15px;
    position: relative;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    
}

.welcome-signin-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    border-radius: 15px;
    padding: 20px;
    

}

.signin-login-section {
    position: relative;
    /* Set background to transparent */
    margin: 20px 0;
    padding: 20px;
    z-index: 1;


}

.container {
    max-width: 80%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    /* Divide the container into three columns */
    grid-gap: 20px;
}

.containers {
    margin: auto;
    max-width: 400px;
    text-align: left;
    padding: 20px;
    background-color: white;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.login-section h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #004080;
    padding: 20px;
}


.drawer {
    background-color: #051d64;
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    transition: left 0.3s;
    z-index: 2;
    overflow-y: auto;
}

.drawer .nav-items a3 {
    color: #fff;
    position: fixed;
    padding: 10px 0px;
    /* Adjust padding as needed */
    border-radius: 30px;
    transition: background-color 0.3s;
    font-weight: 100;
    cursor: pointer;
}

.drawer .nav-items a:hover {
    background-color: #092ea0;
    transition: background-color 0.5s ease;
    border-radius: 10px;
}

.drawer .profile {
    color: #fff;
    display: block;
    /* Show the profile icon by default */
}

.drawer .nav-items .lgbtn {
    display: none;
}

.show-drawer {
    transform: translateX(0);
}

.drawer .nav-items {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 75%;
    font-size: 11px;
    margin-top: 50px;
    margin-left: 20px;
    transition: width 0.3s ease;
}

.drawer i {
    padding-right: 25px;
}

.drawer .nav-items a {
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
    font-weight: 700;
    text-align: left;
    padding: 6px 10px;
    margin: 0;
}

.quick-search-container {
    display: flex;
    align-items: center;
    margin-top: 10px
}

#quickSearchInput {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 5px;
}

#quickSearchButton {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px;
}


.exit-button {
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 5px;
}

.exit-button:hover {
    color: #0040ff;
}

.logout-link {
    transition: background-color 0.3s;
    left: -100px;
}

.logout-link i{
    margin-right: 20px;
}

.logout-link a:hover {
    color: blue;
}

/* Style for the link container */
.profile-link {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    padding: 10px;
}

/* Style for the image */
.profile-link img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    transition: transform 0.3s;
}

/* Style for the text */
.profile-link p {
    margin-top: 5px;
    font-weight: 700;
    color: #333;
}

/* Hover effect for the image */
.profile-link img:hover {
    transform: scale(1.1);
    /* Increase the size of the image on hover */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: #ffffff;
    /*header color*/
    text-align: center;
    max-height: 60px;
    box-shadow: 0px 1px 1px rgba(128, 128, 128, 0.5);

}


.dropbtn {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

/* Center the navigation items */
.nav-items {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-right: 80px;
}

nav a {
    font-size: 15px;
    color: black;
    text-decoration: none;
    padding: 10px 30px;
    margin: 0px 10px;
    display: inline-block;
    position: relative;
    overflow: hidden;

}

nav .nav-items a {
    font-size: 15px;
    color: black;
    text-decoration: none;
    padding: 10px 30px;
    margin: 0px 10px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

nav .nav-items a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #002DB3;
    animation: underline-grow 0.3s ease;
    transition: width 0.3s ease;

}

@keyframes underline-grow {
    0% {
        width: 0;
    }

    50% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

nav .nav-items a:hover::after {
    width: 100%;
}

/* Style the dropdown menu */
.dropdown {
    display: inline-block;
    position: relative;
    margin: 0;
    z-index: 1;
}

.dropbtn:hover {
    color: orange;
    /* Icon color on hover */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 180px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 200;
    right: 0;
}

.dropdown-content i{
    margin-right: 20px;
}

/* Style the dropdown links */
.dropdown-content a {
    display: block;
    transition: background-color 0.2s;
    z-index: 200;
    color: black;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
    color: #002DB3;
}

/* Show the dropdown menu when hovering over the profile icon */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Loading overlay styles */
#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 300;
}

.loader-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    animation: spin 2s linear infinite;
}

.footer {
    background-color: #051d64;
    /*footerColor*/
    color: #fff;
    text-align: center;
    margin-top: auto;
    padding: 50px 0;
}
.footer-left {
    align-items: center;
    text-align: center;
  }


.social-icons {
    display: inline-block;
}

.social-icons a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    width: 20px;
    height: 20px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
}

.copyright {
    margin: 0;
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
}

.footer-distributed {
    background: #051d64;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 15px 20px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 35%;
    margin-top: 40px;
}

/* The company logo */

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 25%;
    margin:0;
}

.footer-distributed .footer-center i {
    background-color: white;
    color: #002DB3;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    font-family: 'Roboto hin', sans-serif;
    font-size: 13px;
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: white;
    text-decoration: none;
}

.footer-distributed .footer-center h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: white;
    padding: 20px;
    text-align:center;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}



.footer-right h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #004080;
    text-align: center;
}
/* Footer Right */

.footer-distributed .footer-right {
    width: 35%;
    align-items: center;

}

.footer-distributed .footer-center p a {
    color: white;
    text-decoration: none;
}

.footer-distributed .footer-right i {
    background-color: white;
    color: #002DB3;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-right-location{
        align-items: center;
        text-align: center;
}

.footer-distributed .footer-right p {
    font-family: 'Roboto hin', sans-serif;
    font-size: 13px;
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-right p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-right h2 {
    padding-left: 100px;
    margin-bottom: 20px;
    font-size: 28px;
    color: white;
    padding: 20px;
    text-align:center;
}

.footer-distributed .footer-company-about {
    text-align: justify;
    font-family: 'Roboto hin', sans-serif;
    line-height: 25px;
    color: white;
    font-size: 13px;
    font-weight: normal;
    text-align: justify;
    text-justify: inter-word;
    padding-left: 100px;
    padding-right: 100px;
    margin: 0;
}

.footer-distributed .footer-company-about p {
    display: block;
    font-weight: normal;
    font-size: 20px;
    line-height: 2;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
}


@media (max-width: 880px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }

}

.menu-icon {
    color: #005ab9;
    margin-left: 20px;
    cursor: pointer;
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: -300px;
    /* Start off-screen */
    width: 300px;
    height: 100%;
    background-color: #333;
    transition: left 0.3s;
}

.logo-container {
    display: flex;
    align-items: center;
}

/* Loading overlay styles */
#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 300;
}

.loader-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@media screen and (max-width: 1300px) {

    nav .nav-items a {
        padding: 10px 10px;
    }

}

@media screen and (max-width: 1100px) {
    .footer-distributed .footer-company-about {
        text-align: justify;
        font-family: 'Roboto hin', sans-serif;
        line-height: 25px;
        color: white;
        font-size: 13px;
        font-weight: normal;
        text-align: justify;
        text-justify: inter-word;
        padding: 20px; 
        margin: 0;
    }
    .welcomeusername {
        margin-right: 20px;
    }
    
    .footer-distributed .footer-company-about p {
        display: block;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.5;
    }
    
    .logo {
        max-width: 80px;

    }

    .dropdown {
        display: none;
    }

    header h1 {
        font-size: 20px;
    }

    nav {
        padding: 10px 0;
    }

    nav a {
        color: #023469;
        text-decoration: none;
        padding: 10px 30px;
        margin: 0px 10px;
        border-radius: 100px;
        transition: background-color 0.3s;
        display: inline-block;
    }

    .special-offer {
        margin-bottom: 30px;
    }

    .logo-container {
        order: 3;
        /* Change the order to swap positions */
    }

    .menu-icon {
        display: block;
        margin-left: 20px;
        cursor: pointer;
        order: 1;
    }

    .cart-icon {
        order: 2;
    }

    .profile-label {
        order: 3;
    }

    .nav-items {
        display: none;
        /* Initially hide the navigation items */
    }

}

@media screen and (max-width: 800px) {
    .footer-distributed .footer-company-about {
        text-align: justify;
        font-family: 'Roboto hin', sans-serif;
        line-height: 25px;
        color: white;
        font-size: 13px;
        font-weight: normal;
        text-align: justify;
        text-justify: inter-word;
        padding: 20px;
        margin: 0;
    }
    
    .footer-distributed .footer-company-about p {
        display: block;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.5;
    }
    
    /* Styles for screens with a maximum width of 768px */
    .logo {
        max-width: 60px;
    }

    header h1 {
        font-size: 20px;
    }

    nav {
        padding: 10px 0;
        white-space: no-;
    }

    nav a {
        padding: 8px 12px;
        font-size: 15px;
    }

    .special-offer {
        margin-bottom: 30px;
    }

    .menu-icon {
        display: block;
    }

    .nav-items {
        display: none;
        /* Initially hide the navigation items */
    }

}

@media screen and (max-width: 480px) {


    /* Styles for screens with a maximum width of 480px */
    body {
        max-width: 100%;
        font-size: 12px;
    }

    /* Styles for screens with a maximum width of 480px */
    .logo {
        max-width: 60px;
    }

    header h1 {
        font-size: 1px;
    }

    nav {
        padding: 10px 0;
    }


    .special-offers {
        width: 90%;
        /* Make the container full width */
        margin-bottom: 30px;
    }


    .menu-icon {
        display: block;
        max-width: 1px;
    }

    .nav-items {
        display: none;
        /* Initially hide the navigation items */
    }

    .footer {
        background-color: #15034d;
        color: #fff;
        padding: 10px;
        text-align: center;
        margin-top: auto;
        font-size: 10px;
        position: absolute;
    }

    .social-icons {
        display: inline-block;
        font-size: 10px;
    }
    .footer-distributed .footer-company-about {
        text-align: justify;
        font-family: 'Roboto hin', sans-serif;
        line-height: 25px;
        color: white;
        font-size: 13px;
        font-weight: normal;
        text-align: justify;
        text-justify: inter-word;
        padding: 20px; /* Adjust the padding as needed for mobile view */
        margin: 0;
    }
    
    .footer-distributed .footer-company-about p {
        display: block;
        font-weight: normal;
        font-size: 16px; /* Adjust the font size as needed for mobile view */
        line-height: 1.5;
    }
    
    .social-icons a {
        text-decoration: none;
        color: #fff;
        margin: 0 10px;
        font-size: 20px;
        width: 20px;
        height: 20px;
    }

}
