<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This is a home page with previews of item, login section appears when user is not logged in">
  <title>Bahay Pares Tapsihan Home Page</title>

  <link rel="icon" href="/images/bahaypareslogo.png" type="image/png">
  <link rel="stylesheet" type="text/css" href="/css/index.css" />
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
</head>

<body>
  <header>
    <nav>
      <div class="logo-container">
        <a href="/"><img class="logo" src="/images/bahaypareslogo.png" alt="Logo" loading="lazy"></a>
      </div>
      <div class="menu-icon" id="menuIcon">
        <i class="fas fa-bars fa-2x"></i>
        <input type="hidden" span id="welcomeUsername">
        <input type="hidden" id="userId" name="userId">
      </div>
      <div class="nav-items">
        <a href="/"><i class="fas fa-home" style="color: #002DB3;  margin-right: 3px;"></i> Home</a>
        <a href="/menu"><i class="fas fa-utensils" style="color: #002DB3;  margin-right: 3px;"></i> Menu</a>
        <a href="/Vieworder"><i class="fas fa-truck" style="color: #002DB3;  margin-right: 3px;"></i> Delivery
          Status</a>
        <a href="/AboutUs"><i class="fas fa-info-circle" style="color: #002DB3;  margin-right: 3px;"></i> About Us</a>
        <a href="/ContactUs"><i class="fas fa-phone" style="color: #002DB3;  margin-right: 3px;"></i> Customer Care</a>
      </div>
      <div class="dropdown">
        <button id="profileIcon" class="dropbtn" style="display: none;">
          <img src="/images/iconprofile.png" alt="Profile" width="25" height="25" class="profile-icon" loading="lazy">
        </button>
        <div class="dropdown-content">
          <a href="/Profile"><i class="fas fa-user"></i>Profile</a>
          <a href="#" id="logoutButton"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </div>
      </div>
    </nav>
    <div class="header-content">
    </div>

    <!-- Responsive Drawer -->
    <div class="drawer">
      <button id="closeDrawer" class="exit-button" title="Hide Drawer">
        <div class="circle-background">
            <i class="fas fa-times"></i>
        </div>
      </button>      
        <div class="nav-items">
          <div class="quick-search-container">
            <input type="text" id="quickSearchInput" placeholder="Quick Search">
        </div>
            <a href="/Profile" class="menu-item" id="profileMenu"><i class="fas fa-user"></i> Profile</a>
            <a href="/" class="menu-item"><i class="fas fa-home"></i>Home</a>
            <a href="/menu" class="menu-item"><i class="fas fa-utensils"></i> Menu</a>
            <a href="/Vieworder" class="menu-item"><i class="fas fa-truck"></i>Delivery Status</a>
            <a href="/AboutUs" class="menu-item"><i class="fas fa-info-circle"></i> About Us</a>
            <a href="/ContactUs" class="menu-item"><i class="fas fa-phone"></i> Customer Care</a>
            <a href="#" id="logoutMenu" style="display: none;" class="menu-item"><i class="fas fa-sign-out-alt"></i> Logout</a>
        </div>
      </div>
  </header>
  <div class="parallax-background"></div>

  <section>
    <div class="main-content">
      <div class="welcome-signin-container">
        <div class="welcome-section">
          <img src="/images/bahaypareslogo.png" alt="Logo" loading="lazy" class="circle_logo">
          <h2>Welcome to Bahay Pares Tapsihan!</h2>
          <p>
            Order delicious food online and have it delivered to your doorstep.
            Explore our menu and choose from a variety of dishes to satisfy your cravings.

          </p>
        </div>

        <div class="signin-login-section" id="signin-login-section">
          <!-- Login Form -->
          <div class="login-section">
            <h2>Login</h2>
            <div id="message" style="color: red;"></div>
            <div class="login-form">
              <form id="loginForm">
                <div class="inputbox">
                  <ion-icon name="mail-outline" alt="EmailIcon" title="Email"></ion-icon>
                  <input type="text" id="searchaccount" name="username" required placeholder="" title="Email">
                  <label>Email</label>
                </div>
                <div class="inputbox">
                  <ion-icon name="lock-closed-outline" alt="PasswordIcon" title="Password"></ion-icon>
                  <input type="password" id="password" name="password" required placeholder="" title="Password">
                  <label>Password</label>
                </div>
                <button class="loginButton" type="button" onclick="login()">Login</button>

                <div>
                  <a class="loginFormButton" href="/register">Don't have an account?</a>
                  <a class="loginFormButton" href="/resetPassword">Forgot Password?</a>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="restaurant-image">
        <img style=" height:60%; margin-top: 300px; border-radius: 5px; display:none; position:relati" src="/images/restaurantphoto.png"
          id="imagereplace" alt="restaurantimage" loading="lazy" >
        </div>

      </div>
    </div>



    <!-- Featured Menu -->
    <div class="offers-main-container">
      <div class="special-offers" id="featuredMenu">
        <!-- Featured menu items will be displayed here -->
      </div>
      <div class="offers-text-container">
        <h2>Featured Items</h2>
        <p>Good news – you can enjoy amazing food without spending too much! At Bahay Pares Tapsihan, we have featured
          items that make your meal even more awesome.</p>
        <p>Whether you're on a date, celebrating with family, or just hanging out with friends, we make sure you have a
          fantastic meal without spending too much. </p>
        <p>Visit our menu page to start ordering</p>
      </div>
    </div>


    <!-- Special offers -->
    <div class="offers-main-container">
      <div class="offers-text-container">
        <h2>Special Offers</h2>
        <p>Good news – you can enjoy amazing food without spending too much! At Bahay Pares Tapsihan, we have special
          offers that make your meal even more awesome.</p>
        <p>Whether you're on a date, celebrating with family, or just hanging out with friends, we make sure you have a
          fantastic meal without spending too much. </p>
        <p>Visit our menu page to start ordering</p>
      </div>
      <div class="special-offers" id="saleMenu">
        <!-- Featured menu items will be displayed here -->
      </div>
    </div>
  </section>


  <div class="houses-container">
</div>



  <footer class="footer-distributed">
    <div class="footer-left">
      <a href="/"><img class="footlogo" src="/images/bahaypareslogo.png" alt="Logo" Style="width: 50%; height: auto;"loading="lazy"></a>
      <p class="footer-links">
        <a href="/index" class="link-1">Home</a>
        <a href="/menu">Menu</a>
        <a href="#">Delivery Status</a>
        <a href="#">About Us</a>
        <a href="#">Contact Us</a>
      </p>
      <p class="footer-company-name">© 2023 Bahay Pares Tapsihan – Dasmariñas.</p>
    </div>
    <div class="footer-center">
      <div>
        <h2>Contacts</h2>
        <i class="fa fa-phone"></i>
        <p>+63 975 336 5406</p>
      </div>
      <div style="white-space: nowrap;">
        <i class="fa fa-envelope"></i>
        <p><a href="mailto:bahayparestapsihan@gmail.com" >bahayparestapsihan@gmail.com</a></p>
      </div>
      <div>
        <i class="fab fa-facebook-messenger"></i>
        <p><a href="https://www.messenger.com/t/100783298129453" target="_blank">Messenger</a></p>
      </div>
      <h2>Like Our Page</h2>
      <div>
        <i class="fab fa-facebook-f"></i>
        <p><a href="https://www.facebook.com/tapsihansapasongbayog/" target="_blank">Facebook</a></p>
      </div>
    </div>
    <div class="footer-right">
      <h2>About Us</h2>
      <p class="footer-company-about">
        As we navigate the post-pandemic world, dining out has become increasingly more complex, but no more so than in
        Bahay Pares tapsihan restaurant. The establishment, renowned for its world-class tapsi and excellent service,
        has been on a mission to revolutionize the dining experience for their guests. In the wake of social distancing
        measures, they have invested in building an online ordering system that offers convenience and accessibility.
      
      </p>
      <h2>Visit Us</h2>
      <div class="footer-right-location">
        <i class="fa fa-map-marker"></i>
        <p>89 Burol Main 4114 Dasmariñas, Philippines</p>
      </div>
    </div>
  </footer>


  <script>
    const username = sessionStorage.getItem('username');
    const userId = sessionStorage.getItem('userId');
    const urlParams = new URLSearchParams(window.location.search);
    const message = urlParams.get('message');
    const messageElement = document.getElementById('message');
    
    if (message) {
      if (message === 'verified') {
        Swal.fire({
          title: 'Email Verified!',
          text: 'Your email has been successfully verified. You can now log in.',
          icon: 'success',
          confirmButtonText: 'OK'
        });
      } else {
        Swal.fire({
          title: 'Sorry!',
          text: message,
          icon: 'error',
          confirmButtonText: 'OK'
        });
      }
    }

    async function login() {
      const username = document.getElementById('searchaccount').value;
      const password = document.getElementById('password').value;
      const loginForm = document.getElementById('loginForm');
      const messageElement = document.getElementById('message'); // Define the message element

      try {
        Swal.fire({
          title: 'Logging in...',
          allowOutsideClick: false,
          onBeforeOpen: () => {
            Swal.showLoading();
          },
          showConfirmButton: false,
        });
        
        const response = await fetch('/login', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            username,
            password,
          }),
        });

        const result = await response.json();

        if (response.ok) {
          console.log('Login successful:', result.user);
          // Store the username in sessionStorage
          sessionStorage.setItem('username', result.username);
          sessionStorage.setItem('email', result.email);
          // Check where to redirect based on the server response
          if (result.redirectTo) {
            window.location.href = result.redirectTo;
          } else {
            Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: 'An unexpected error occurred during login. Please try again later.',
            });
          }
        } else {
      // Handle error messages from the server
      console.error('Login failed:', result.message);
      messageElement.textContent = result.message;
    }
      } catch (error) {
        console.error('Error during login:', error);
        // Display a generic error message
        messageElement.textContent = 'An unexpected error occurred during login. Please try again later.';
      } finally {
        Swal.close();
      }
    }

    async function fetchFeaturedMenu() {
      try {
        const response = await fetch('/featuredmenu'); // Make a GET request to your backend endpoint

        if (response.ok) {
          const featuredMenuItems = await response.json();

          const featuredMenuContainer = document.getElementById('featuredMenu');

          // Clear existing content
          featuredMenuContainer.innerHTML = '';

          let currentIndex = 0;

          // Function to display the current menu item
          function displayMenuItem() {
            const item = featuredMenuItems[currentIndex];

            const menuItemDiv = document.createElement('div');
            menuItemDiv.classList.add('special-offer', 'fade-in-out'); // Add fade-in-out class

            menuItemDiv.innerHTML = `
          <a href="/menu">
            <img src="data:image/jpeg;base64,${item.image}" alt="${item.name}" loading="lazy">
          </a>
        `;
            featuredMenuContainer.innerHTML = ''; // Clear container before appending the new item
            featuredMenuContainer.appendChild(menuItemDiv);

            // Trigger reflow to apply the fade-in-out effect
            void menuItemDiv.offsetWidth;

            // Remove the fade-in-out class after the animation completes
            setTimeout(() => {
              menuItemDiv.classList.remove('fade-in-out');
            }, 10000); // Adjust the timeout to match the animation duration (10 seconds)
            currentIndex = (currentIndex + 1) % featuredMenuItems.length;
          }

          displayMenuItem();
          const slideshowInterval = setInterval(displayMenuItem, 10000); // Change item every 10 seconds

          function stopSlideshow() {
            clearInterval(slideshowInterval);
          }
        } else {
          console.error('Failed to fetch featured menu items');
        }
      } catch (error) {
        console.error('Error during fetchFeaturedMenu:', error);
      }
    }

    async function fetchSaleMenu() {
      try {
        const response = await fetch('/salemenu'); // Make a GET request to your backend endpoint

        if (response.ok) {
          const saleMenuItems = await response.json();

          const saleMenuContainer = document.getElementById('saleMenu');

          // Clear existing content
          saleMenuContainer.innerHTML = '';

          let currentIndex = 0;

          // Function to display the current menu item
          function displayMenuItem() {
            const item = saleMenuItems[currentIndex];

            const menuItemDiv = document.createElement('div');
            menuItemDiv.classList.add('special-offer', 'fade-in-out'); // Add fade-in-out class

            menuItemDiv.innerHTML = `
          <a href="/menu">
        <img src="data:image/jpeg;base64,${item.image}" alt="${item.name}" loading="lazy">
      </a>
        `;
            saleMenuContainer.innerHTML = ''; // Clear container before appending the new item
            saleMenuContainer.appendChild(menuItemDiv);

            // Trigger reflow to apply the fade-in-out effect
            void menuItemDiv.offsetWidth;

            // Remove the fade-in-out class after the animation completes
            setTimeout(() => {
              menuItemDiv.classList.remove('fade-in-out');
            }, 10000); // Adjust the timeout to match the animation duration (10 seconds)
            currentIndex = (currentIndex + 1) % saleMenuItems.length;
          }

          displayMenuItem();
          const slideshowInterval = setInterval(displayMenuItem, 10000); // Change item every 10 seconds

        } else {
          console.error('Failed to fetch sale menu items');
        }
      } catch (error) {
        console.error('Error during fetchSaleMenu:', error);
      }
    }

    // Call the fetchFeaturedMenu function when the page loads
    document.addEventListener('DOMContentLoaded', function () {
      fetchFeaturedMenu();
      fetchSaleMenu();
    });

    document.getElementById('password').addEventListener('keyup', function (event) {
      // Check if the pressed key is "Enter" (key code 13)
      if (event.keyCode === 13) {
        // Trigger the login button click
        document.querySelector('button[type="button"]').click();
      }
    });

    document.addEventListener('DOMContentLoaded', function () {
      const menuIcon = document.querySelector('.menu-icon'); // Change the selector to use class
      const drawer = document.querySelector('.drawer');

      menuIcon.addEventListener('click', function () {
        if (drawer.style.left === '0px' || !drawer.style.left) {
          drawer.style.left = '-250px'; // Hide the drawer
        } else {
          drawer.style.left = '0'; // Show the drawer
        }
      });
      const closeDrawerButton = document.getElementById('closeDrawer');
      closeDrawerButton.addEventListener('click', function () {
        drawer.style.left = '-250px'; // Hide the drawer
      });
    });

    document.addEventListener('DOMContentLoaded', function () {
        const quickSearchInput = document.getElementById('quickSearchInput');
        const menuItems = document.querySelectorAll('.nav-items .menu-item');

        quickSearchInput.addEventListener('input', function () {
            const searchTerm = quickSearchInput.value.toLowerCase();

            menuItems.forEach(function (menuItem) {
                const menuItemText = menuItem.innerText.toLowerCase();

                // Check if the search term is present in the menu item text
                if (menuItemText.includes(searchTerm)) {
                    menuItem.style.display = 'block';
                } else {
                    menuItem.style.display = 'none';
                }
            });
        });
    });

    //LOGOUT FUNCTION
    document.addEventListener('DOMContentLoaded', function () {
      const logoutButton = document.getElementById('logoutButton');
      const Profile = document.getElementById('profileIcon');
      const loginsection = document.getElementById('signin-login-section');
      const imageonlog = document.getElementById('imagereplace');
      const logoutMenu = document.getElementById('logoutMenu');
      // Check if the user is authenticated by making a GET request to a route that
      // returns the user information when authenticated
      fetch('/check-auth', {
          method: 'GET',
        })
        .then(response => response.json())
        .then(data => {
          if (data.isAuthenticated) {
            logoutButton.style.display = 'block';
            Profile.style.display = 'block';
            loginsection.style.display = 'none';
            imageonlog.style.display = 'block';
            const profileIcon = document.getElementById('profileIcon');
            const profileMenu = document.getElementById('profileMenu');
            profileIcon.style.display = 'block';
            profileMenu.style.display = 'block'; // Show in drawer
            logoutMenu.style.display = 'block';
            // Add a click event listener to the logout button
            logoutButton.addEventListener('click', function () {
              // Display a confirmation dialog
              const isConfirmed = window.confirm('Are you sure you want to logout?');

              // Check if the user confirmed the logout
              if (isConfirmed) {
                // Send a logout request to the server when confirmed
                fetch('/logout', { // Check if this URL is correct
                    method: 'GET',
                  })
                  .then(response => response.json())
                  .then(data => {
                    if (data.message === 'Logout successful') {
                      // Redirect to the login page or another page after logout
                      window.location.href = '/';
                    } else {
                      console.error('Logout failed:', data.error);
                    }
                  })
                  .catch(error => {
                    console.error('Error during logout:', error);
                  });
              }
            });
            logoutMenu.addEventListener('click', function () {
              // Display a confirmation dialog
              const isConfirmed = window.confirm('Are you sure you want to logout?');

              // Check if the user confirmed the logout
              if (isConfirmed) {
                // Send a logout request to the server when confirmed
                fetch('/logout', { // Check if this URL is correct
                    method: 'GET',
                  })
                  .then(response => response.json())
                  .then(data => {
                    if (data.message === 'Logout successful') {
                      // Redirect to the login page or another page after logout
                      window.location.href = '/';
                    } else {
                      console.error('Logout failed:', data.error);
                    }
                  })
                  .catch(error => {
                    console.error('Error during logout:', error);
                  });
              }
            });
          } else {
            Profile.style.display = 'none';
            logoutButton.style.display = 'none';
            loginsection.style.display = 'block';
            imageonlog.style.display = 'none';
            const profileIcon = document.getElementById('profileIcon');
            logoutButton.style.display = 'none';
            profileIcon.style.display = 'none';
            const profileMenu = document.getElementById('profileMenu');
            profileMenu.style.display = 'none'; // Show in drawer
            logoutMenu.style.display = 'none';
          }
        })
        .catch(error => {
          console.error('Error checking authentication:', error);
        });
    });

  
  </script>

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>


</html>

