<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This is the profile page, users can view and edit their account">
  
  <title>Bahay Pares Tapsihan Profile Page</title>
  <link rel="icon" href="/images/bahaypareslogo.png" type="image/png">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/profile.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

</head>

<body>
  <header>
    <nav>
      <div class="logo-container">
        <a href="/"><img class="logo" src="/images/bahaypareslogo.png" alt="Logo"></a>
      </div>
      <div class="menu-icon" id="menuIcon">
        <i class="fas fa-bars fa-2x"></i>
        <input type="hidden" span id="welcomeUsername">
        <input type="hidden" id="userId" name="userId">
      </div>
      <div class="nav-items">
        <a href="/"><i class="fas fa-home" style="color: #002DB3;  margin-right: 3px;" ></i> Home</a>
        <a href="/menu"><i class="fas fa-utensils" style="color: #002DB3;  margin-right: 3px;"></i> Menu</a>
        <a href="/Vieworder"><i class="fas fa-truck"style="color: #002DB3;  margin-right: 3px;"></i> Delivery Status</a>
        <a href="/AboutUs"><i class="fas fa-info-circle"style="color: #002DB3;  margin-right: 3px;"></i> About Us</a>
        <a href="/ContactUs"><i class="fas fa-phone"style="color: #002DB3;  margin-right: 3px;"></i> Customer Care</a>
      </div>
      <div class="dropdown">
        <button id="profileIcon" class="dropbtn" style="display: none;">
          <img src="/images/iconprofile.png" alt="Profile" width="25" height="25" class="profile-icon" loading="lazy">
        </button>
        <div class="dropdown-content">
          <a href="/Profile">Profile</a>
          <a href="#" id="logoutButton">Logout</a>
        </div>
      </div>
    </nav>
    <div class="header-content">
    </div>

    <!-- Responsive Drawer -->
    <div class="drawer">
      <button id="closeDrawer" class="exit-button" title="Hide Drawer">
        <div class="circle-background">
            <i class="fas fa-times"></i>
        </div>
      </button>      
        <div class="nav-items">
          <div class="quick-search-container">
            <input type="text" id="quickSearchInput" placeholder="Quick Search">
        </div>
            <a href="/Profile" class="menu-item" id="profileMenu"><i class="fas fa-user"></i> Profile</a>
            <a href="/" class="menu-item"><i class="fas fa-home"></i>Home</a>
            <a href="/menu" class="menu-item"><i class="fas fa-utensils"></i> Menu</a>
            <a href="/Vieworder" class="menu-item"><i class="fas fa-truck"></i>Delivery Status</a>
            <a href="/AboutUs" class="menu-item"><i class="fas fa-info-circle"></i> About Us</a>
            <a href="/ContactUs" class="menu-item"><i class="fas fa-phone"></i> Customer Care</a>
            <a href="#" id="logoutMenu" style="display: none;" class="menu-item"><i class="fas fa-sign-out-alt"></i> Logout</a>
        </div>
      </div>
  </header>
  <div id="profileContent">
    <!-- Add more user profile data here -->
  </div>
  <section>
    <div class="main-content">
      <div class="profile-container">
        <div class="profile-info">
          <img class="myacc" src="/images/myaccountlogo.png" alt="My Account">
        </div> <!-- Closing div tag added -->
        <p><i class="fas fa-user"></i> Name: <span id="usernamePlaceholder">Loading...</span></p>
        <p><i class="fas fa-envelope"></i> Email: <span id="emailPlaceholder">Loading...</span></p>
        <p><i class="fas fa-phone"></i> Phone: <span id="phonePlaceholder">Loading...</span></p>
        <p><button class="editpass" id="editProfileBtn" data-userid="userIdDisplay">Edit Profile</button></p>
        <p><button class="editpass" id="editpasss">Change Password</button></p>

          <section>
            <div class="main-content">
              <div id="updatePasswordContainer" class="update-password-popup" style="display: none;">
                <div class="update-password-popup-content">
                  <h2 class="formh2">Update Password</h2>
                  <form id="updatePasswordForm">
                    <div class="form-group">
                      <div class="inputbox">
                        <input type="password" id="currentPasswordUpdate" name="currentPasswordUpdate" required>
                        <label for="currentPasswordUpdate">Current Password</label>
                      </div>
                    </div>
                      <div class="form-group">
                      <div class="inputbox">
                        <input type="password" id="newPasswordUpdate" name="newPasswordUpdate" required>
                        <label for="newPasswordUpdate">New Password</label>
                      </div>
                    </div>
                    <div class="button-group">
                      <button type="button" class="update-button">Update Password</button>
                      <button id="closeUpdatePassword" class="close-button">Close</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </section>
        </section>
        </div></div>
          
          <!-- Edit Profile Form -->
          <section>
            <div class="main-content">
              <div id="editProfileContainer" class="edit-profile-popup" style="display: none;">
                <div class="edit-profile-popup-content">
                  <h2 class="formh2">Edit Profile</h2>
                  <form id="editProfileForm">
                    <input type="hidden" id="userId" name="userId">
                    <div class="form-group">
                      <div class="inputbox">
                        <input type="text" id="username" name="name" placeholder=" ">
                        <label for="username">Name</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="inputbox">
                        <input type="text" id="email" name="email" placeholder=" ">
                        <label for="email">Email</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="inputbox">
                        <input type="text" id="phone" name="phone" pattern="^\+63\d{10}$" maxlength="13">
                        <label for="phone">Phone</label>
                      </div>
                    </div>
                    <div class="button-group">
                      <button class="update-button" id="update-profile">Update Profile</button>
                      <button id="closeEditProfile" class="close-button">Close</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </section>

  <br><br><br><br><br><br><br>

  <footer class="footer-distributed">
    <div class="footer-left">
      <a href="/"><img class="footlogo" src="/images/bahaypareslogo.png" alt="Logo" Style="width: 50%; height: auto;"loading="lazy"></a>
      <p class="footer-links">
        <a href="/index" class="link-1">Home</a>
        <a href="/menu">Menu</a>
        <a href="#">Delivery Status</a>
        <a href="#">About Us</a>
        <a href="#">Contact Us</a>
      </p>
      <p class="footer-company-name">© 2023 Bahay Pares Tapsihan – Dasmariñas.</p>
    </div>
    <div class="footer-center">
      <div>
        <h2>Contacts</h2>
        <i class="fa fa-phone"></i>
        <p>+63 975 336 5406</p>
      </div>
      <div style="white-space: nowrap;">
        <i class="fa fa-envelope"></i>
        <p><a href="mailto:bahayparestapsihan@gmail.com" >bahayparestapsihan@gmail.com</a></p>
      </div>
      <div>
        <i class="fab fa-facebook-messenger"></i>
        <p><a href="https://www.messenger.com/t/100783298129453" target="_blank">Messenger</a></p>
      </div>
      <h2>Like Our Page</h2>
      <div>
        <i class="fab fa-facebook-f"></i>
        <p><a href="https://www.facebook.com/tapsihansapasongbayog/" target="_blank">Facebook</a></p>
      </div>
    </div>
    <div class="footer-right">
      <h2>About Us</h2>
      <p class="footer-company-about">
        As we navigate the post-pandemic world, dining out has become increasingly more complex, but no more so than in
        Bahay Pares tapsihan restaurant. The establishment, renowned for its world-class tapsi and excellent service,
        has been on a mission to revolutionize the dining experience for their guests. In the wake of social distancing
        measures, they have invested in building an online ordering system that offers convenience and accessibility.
      
      </p>
      <h2>Visit Us</h2>
      <div class="footer-right-location">
        <i class="fa fa-map-marker"></i>
        <p>89 Burol Main 4114 Dasmariñas, Philippines</p>
      </div>
    </div>
  </footer>
  <script>
    const username = sessionStorage.getItem('username');
    const userId = sessionStorage.getItem('userId');
    if (username) {
      // Update the welcomeUsername element with the username
      const welcomeUsername = document.getElementById('welcomeUsername');
      welcomeUsername.textContent = username;

      // Fetch the userId based on the displayed username
      sessionStorage.setItem('username', username);
      fetch(`/getUserByUserName?username=${username}`)
        .then(response => response.json())
        .then(data => {
          if (data.userId) {
            // User found, store userId in sessionStorage
            const userIdDisplay = document.getElementById('userIdDisplay'); // Add this line
            sessionStorage.setItem('userId', data.userId);
          } else {
            // Handle the case where the user was not found
            console.error('User not found');
          }
        })
        .catch(error => {
          console.error('Error fetching userId:', error);
        });
    } else {
      // User is not logged in, you can choose to do nothing or display a login prompt
      // Here, we will not show the login prompt
      // const loginPrompt = document.getElementById('login-prompt');
      // loginPrompt.style.display = 'block'; // Show the login prompt
    }
// Add this to your existing JavaScript code



    document.addEventListener('DOMContentLoaded', async () => {
      // Check if the user is authenticated and get the username from sessionStorage
      const username = sessionStorage.getItem('username');
      if (username) {
        // Display the username
        const welcomeUsername = document.getElementById('welcomeUsername');
        welcomeUsername.textContent = username;

        // Fetch user profile data
        try {
          const response = await fetch('/profileData');
          if (response.status === 200) {
            const data = await response.json();

            // Populate user profile data
            const usernamePlaceholder = document.getElementById('usernamePlaceholder');
            const emailPlaceholder = document.getElementById('emailPlaceholder');
            const phonePlaceholder = document.getElementById('phonePlaceholder');
            usernamePlaceholder.textContent = data.username;
            emailPlaceholder.textContent = data.email;
            phonePlaceholder.textContent = data.phone;
          }
        } catch (error) {
          console.error('Error fetching user profile data:', error);
        }
      }
    });


    // Edit Profile section
// Function to show a container
function showContainer(container) {
  container.style.display = 'block';
}

// Function to hide a container with animation
function hideContainerWithAnimation(container) {
  container.classList.add('hide');
  setTimeout(() => {
    container.style.display = 'none';
    container.classList.remove('hide');
  }, 300);
}

// Edit Profile section
const editProfileBtn = document.getElementById('editProfileBtn');
const editProfileContainer = document.getElementById('editProfileContainer');
const closeEditProfileButton = document.getElementById('closeEditProfile');

// Event listener for Edit Profile button
editProfileBtn.addEventListener('click', function () {
  // Show the edit profile container
  showContainer(editProfileContainer);
});

closeEditProfileButton.addEventListener('click', function (event) {
  // Prevent the default behavior of the button (form submission)
  event.preventDefault();

  // Get the updated values from the form
  const updatedUsername = document.getElementById('username').value;
  const updatedEmail = document.getElementById('email').value;
  const updatedPhone = document.getElementById('phone').value;

  // Check if any field has been updated
  if (updatedUsername || updatedEmail || updatedPhone) {
    // Display a confirmation dialog
    const isConfirmed = window.confirm('Are you sure you want to close without saving changes?');

    // Check if the user confirmed
    if (isConfirmed) {
      // Hide the edit profile container with animation
      hideContainerWithAnimation(editProfileContainer);
    }
  } else {
    // No updates, close the form without confirmation
    hideContainerWithAnimation(editProfileContainer);
  }
});


const updateProfileButton = document.getElementById('update-profile');

updateProfileButton.addEventListener('click', async (event) => {
  // Get the userId from session storage
    // Prevent the default behavior of the button (form submission)
    event.preventDefault();
  const userId = sessionStorage.getItem('userId');
  if (!userId) {
    console.error('User ID not found in session storage');
    return;
  }

  // Get the updated profile values from the form
  const updatedUsername = document.getElementById('username').value.trim();
  const updatedEmail = document.getElementById('email').value.trim();
  const updatedPhone = document.getElementById('phone').value.trim();

  // Check if at least one field is entered
  if (!updatedUsername && !updatedEmail && !updatedPhone) {
    Swal.fire({
      title: 'Error!',
      text: 'Please enter at least one field to update your profile',
      icon: 'error',
      confirmButtonText: 'OK',
    });
    return;
  }

  // Call the handleProfileUpdates function
  await handleProfileUpdates(userId, updatedUsername, updatedEmail, updatedPhone);
});



function validateEditProfileForm() {
  const username = document.getElementById('username').value.trim();
  const email = document.getElementById('email').value.trim();
  const phone = document.getElementById('phone').value.trim();

  // Check if at least one field is entered
  if (!username && !email && !phone) {
    Swal.fire({
      title: 'Error!',
      text: 'Please enter at least one field (username, email, or phone)',
      icon: 'error',
      confirmButtonText: 'OK',
    });
    return false;
  }

  // Validate username (non-empty) only if provided
  if (username && username === '') {
    Swal.fire({
      title: 'Error!',
      text: 'Please enter a valid username',
      icon: 'error',
      confirmButtonText: 'OK',
    });
    return false;
  }

  // Validate email (non-empty and a simple check for email format) only if provided
  if (email && !/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email)) {
    Swal.fire({
      title: 'Error!',
      text: 'Please enter a valid email',
      icon: 'error',
      confirmButtonText: 'OK',
    });
    return false;
  }

  // Validate phone (non-empty and a simple check for Philippine phone number format) only if provided
  if (phone && !/^\+63\d{10}$/.test(phone)) {
    Swal.fire({
      title: 'Error!',
      text: 'Please enter a valid Philippine phone number starting with +63',
      icon: 'error',
      confirmButtonText: 'OK',
    });
    return false;
  }

  // If at least one field is provided, return true to submit the form
  return true;
}

async function handleProfileUpdates(userId, username, email, phone) {
  try {
    const isValid = validateEditProfileForm();

    if (!isValid) {
      return;
    }

    const response = await fetch('/update-profile', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        userId,
        username,
        email,
        phone,
      }),
    });

    console.log('Response status:', response.status);

    const data = await response.json();
    console.log('Response data:', data);

    if (response.status === 200) {
      // Profile updated successfully
      console.log('Profile updated successfully:', data.message);

      // Show success notification with check mark animation
      Swal.fire({
        title: 'Profile Updated!',
        text: 'Your profile has been successfully updated.',
        icon: 'success',
        showClass: {
          popup: 'animate__animated animate__fadeInDown',
        },
        hideClass: {
          popup: 'animate__animated animate__fadeOutUp',
        },
        confirmButtonText: 'OK',
      }).then(() => {
        // Delay for 300 milliseconds before reloading the page
        setTimeout(() => {
          window.location.href = '/Profile'; // Update the URL if necessary
        }, 300);
      });

      // Check if email was updated and show verification message
      if (email) {
        Swal.fire({
          title: 'Verification Sent!',
          text: 'Please check your email to fully verify your changes.',
          icon: 'info',
          showClass: {
            popup: 'animate__animated animate__fadeInDown',
          },
          hideClass: {
            popup: 'animate__animated animate__fadeOutUp',
          },
          confirmButtonText: 'OK',
        });
      }
    } else {
      // Handle errors in profile update
      console.error('Profile update error:', data.error);

      // Display an error message to the user using Swal.fire or another method
      Swal.fire({
        title: 'Error!',
        text: 'Invalid Email. Try Again!',
        icon: 'error',
        confirmButtonText: 'OK',
      });
    }
  } catch (error) {
    console.error('Profile update error:', error);

    // Handle any network or other errors here
    // Display an error message to the user using Swal.fire or another method
    Swal.fire({
      title: 'Error!',
      text: 'An unexpected error occurred. Please try again later.',
      icon: 'error',
      confirmButtonText: 'OK',
    });
  }
}


const updatePasswordBtn = document.getElementById('editpasss');
const updatePasswordContainer = document.getElementById('updatePasswordContainer');
const closeUpdatePasswordButton = document.getElementById('closeUpdatePassword');
const updatePasswordForm = document.getElementById('updatePasswordForm');
const updateButton = document.querySelector('.update-button');

updatePasswordBtn.addEventListener('click', function () {
  // Show the update password container
  updatePasswordContainer.style.display = 'block';
});

closeUpdatePasswordButton.addEventListener('click', function () {
  // Hide the update password container
  hideElementWithAnimation(updatePasswordContainer);
});

function validateUpdatePasswordForm() {
  const currentPassword = document.getElementById('currentPasswordUpdate').value.trim();
  const newPassword = document.getElementById('newPasswordUpdate').value.trim();

  // Validate current password (non-empty)
  if (currentPassword === '') {
    Swal.fire({
      title: 'Error!',
      text: 'Please enter your current password',
      icon: 'error',
      confirmButtonText: 'OK',
    });
    return false;
  }

  // Validate new password
  if (newPassword.length < 8 || !/[a-z]/.test(newPassword) || !/[A-Z]/.test(newPassword)) {
    Swal.fire({
      title: 'Error!',
      text: 'Please enter a new password with at least 8 characters, including at least one lowercase and one uppercase letter',
      icon: 'error',
      confirmButtonText: 'OK',
    });
    return false;
  }

  // Validate that the current password is not the same as the new password
  if (currentPassword === newPassword) {
    Swal.fire({
      title: 'Error!',
      text: 'Current password and new password should not be the same',
      icon: 'error',
      confirmButtonText: 'OK',
    });
    return false;
  }

  // If all validations pass, return true to submit the form
  return true;
}

updateButton.addEventListener('click', async (event) => {
  // Validate the update password form
  event.preventDefault();
  const isValid = validateUpdatePasswordForm();

  if (!isValid) {
    return;
  }

  // Get the userId from session storage
  const userId = sessionStorage.getItem('userId');
  if (!userId) {
    console.error('User ID not found in session storage');
    return;
  }

  // Get the updated password values from the form
  const currentPasswordUpdate = document.getElementById('currentPasswordUpdate').value;
  const newPasswordUpdate = document.getElementById('newPasswordUpdate').value;

  // Send the update password request to the server
  try {
    const response = await fetch('/update-password', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        userId,
        currentPassword: currentPasswordUpdate,
        newPassword: newPasswordUpdate,
      }),
    });

    if (response.status === 200) {
        // Password updated successfully
        const data = await response.json();
        console.log('Password updated successfully:', data.message);

        // Show success notification with SweetAlert
        Swal.fire({
          title: 'Password Updated!',
          text: 'Your password has been successfully updated.',
          icon: 'success',
          confirmButtonText: 'OK',
        });
      } else if (response.status === 401) {
        // Incorrect current password, show SweetAlert
        Swal.fire({
          icon: 'error',
          title: 'Error',
          text: 'The current password you entered is incorrect. Please try again.',
          confirmButtonText: 'OK',
        });
      } else {
        // Handle other errors in password update
        const data = await response.json();
        console.error('Password update error:', data.error);
        // You can display an error message to the user if needed
      }
    } catch (error) {
      console.error('Error updating password:', error);
      // Handle any network or other errors here
    }
  });







  // Additional functions
  function hideElementWithAnimation(element) {
    element.classList.add('hide');
    setTimeout(() => {
      element.style.display = 'none';
      element.classList.remove('hide');
    }, 300);
  }



  document.addEventListener('DOMContentLoaded', function () {
      const menuIcon = document.querySelector('.menu-icon'); // Change the selector to use class
      const drawer = document.querySelector('.drawer');

      menuIcon.addEventListener('click', function () {
        if (drawer.style.left === '0px' || !drawer.style.left) {
          drawer.style.left = '-250px'; // Hide the drawer
        } else {
          drawer.style.left = '0'; // Show the drawer
        }
      });
      const closeDrawerButton = document.getElementById('closeDrawer');
      closeDrawerButton.addEventListener('click', function () {
        drawer.style.left = '-250px'; // Hide the drawer
      });
    });

    document.addEventListener('DOMContentLoaded', function () {
        const quickSearchInput = document.getElementById('quickSearchInput');
        const menuItems = document.querySelectorAll('.nav-items .menu-item');

        quickSearchInput.addEventListener('input', function () {
            const searchTerm = quickSearchInput.value.toLowerCase();

            menuItems.forEach(function (menuItem) {
                const menuItemText = menuItem.innerText.toLowerCase();

                // Check if the search term is present in the menu item text
                if (menuItemText.includes(searchTerm)) {
                    menuItem.style.display = 'block';
                } else {
                    menuItem.style.display = 'none';
                }
            });
        });
    });
    
    document.addEventListener('DOMContentLoaded', function () {
      const logoutButton = document.getElementById('logoutButton');
      const logoutMenu = document.getElementById('logoutMenu');
      fetch('/check-auth', {
          method: 'GET',
        })
        .then(response => response.json())
        .then(data => {
          if (data.isAuthenticated) {
            const profileIcon = document.getElementById('profileIcon');
            const profileMenu = document.getElementById('profileMenu');
            profileIcon.style.display = 'block';
            profileMenu.style.display = 'block'; // Show in drawer
            logoutMenu.style.display = 'block';
            // Add a click event listener to the logout button
            logoutButton.addEventListener('click', function () {
              // Display a confirmation dialog
              const isConfirmed = window.confirm('Are you sure you want to logout?');

              // Check if the user confirmed the logout
              if (isConfirmed) {
                // Send a logout request to the server when confirmed
                fetch('/logout', { // Check if this URL is correct
                    method: 'GET',
                  })
                  .then(response => response.json())
                  .then(data => {
                    if (data.message === 'Logout successful') {
                      // Redirect to the login page or another page after logout
                      window.location.href = '/';
                    } else {
                      console.error('Logout failed:', data.error);
                    }
                  })
                  .catch(error => {
                    console.error('Error during logout:', error);
                  });
              }
            });
            logoutMenu.addEventListener('click', function () {
              // Display a confirmation dialog
              const isConfirmed = window.confirm('Are you sure you want to logout?');

              // Check if the user confirmed the logout
              if (isConfirmed) {
                // Send a logout request to the server when confirmed
                fetch('/logout', { // Check if this URL is correct
                    method: 'GET',
                  })
                  .then(response => response.json())
                  .then(data => {
                    if (data.message === 'Logout successful') {
                      // Redirect to the login page or another page after logout
                      window.location.href = '/';
                    } else {
                      console.error('Logout failed:', data.error);
                    }
                  })
                  .catch(error => {
                    console.error('Error during logout:', error);
                  });
              }
            });
          } else {
            const profileIcon = document.getElementById('profileIcon');
            logoutButton.style.display = 'none';
            profileIcon.style.display = 'none';
            const profileMenu = document.getElementById('profileMenu');
            profileMenu.style.display = 'none'; // Show in drawer
            logoutMenu.style.display = 'none';


          }
        })
        .catch(error => {
          console.error('Error checking authentication:', error);
        });
    });
  </script>

</body>

</html>