<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Users can send their email here to request for password reset">
  
    <title>Bahay Pares Tapsihan Reset Password</title>
    <link rel="icon" href="/images/bahaypareslogo.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/resetpassword.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
</head>

<body>
    <header>
        <nav>
            <div class="logo-container">
                <a href="/"><img class="logo" src="/images/bahaypareslogo.png" alt="Logo"></a>
            </div>
            <div class="menu-icon" id="menuIcon">
                <i class="fas fa-bars fa-2x"></i>
                <input type="hidden" span id="welcomeUsername">
                <input type="hidden" id="userId" name="userId">
            </div>
            <div class="nav-items">
                <a href="/"><i class="fas fa-home" style="color: #002DB3;  margin-right: 3px;"></i> Home</a>
                <a href="/menu"><i class="fas fa-utensils" style="color: #002DB3;  margin-right: 3px;"></i> Menu</a>
                <a href="/Vieworder"><i class="fas fa-truck" style="color: #002DB3;  margin-right: 3px;"></i> Delivery
                    Status</a>
                <a href="/AboutUs"><i class="fas fa-info-circle" style="color: #002DB3;  margin-right: 3px;"></i> About
                    Us</a>
                <a href="/ContactUs"><i class="fas fa-phone" style="color: #002DB3;  margin-right: 3px;"></i> Customer
                    Care</a>
            </div>
            <div class="dropdown">
                <button id="profileIcon" class="dropbtn" style="display: none;">
                    <img src="/images/iconprofile.png" alt="Profile" width="25" height="25" class="profile-icon" loading="lazy">
                  </button>
                  <div class="dropdown-content">
                    <a href="/Profile"><i class="fas fa-user"></i>Profile</a>
                    <a href="#" id="logoutButton"><i class="fas fa-sign-out-alt"></i>Logout</a>
                  </div>
            </div>
        </nav>
        <div class="header-content">
        </div>

        <!-- Responsive Drawer -->
        <div class="drawer">
            <button id="closeDrawer" class="exit-button" title="Hide Drawer">
                <i class="fas fa-times"></i>
            </button>
            <div class="nav-items">
                <table>
                    <tr>
                        <td>
                            <a href="/Profile" id="profileMenu" style="display: none;">
                                <div class="profile-link">
                                    <img src="/images/iconprofile.png" alt="Profile">
                                </div>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;"><a href="/">Home</a></td>
                    </tr>
                    <tr>
                        <td style="text-align: left;"><a href="/menu">Menu</a></td>
                    </tr>
                    <tr>
                        <td style="text-align: left;"><a href="/Vieworder">Delivery Status</a></td>
                    </tr>
                    <tr>
                        <td style="text-align: left;"><a href="/AboutUs">About Us</a></td>
                    </tr>
                    <tr>
                        <td style="text-align: left;"><a href="/ContactUs">Customer Care</a></td>
                    </tr>

                    <tr></tr>
                    <tr>
                        <td>
                            <a href="#" id="logoutMenu" style="display: none;">Logout</a>
                    </tr>

                </table>
            </div>
        </div>
    </header>


    <section>
        <div class="main-content">
            <div class="welcome-signin-container">
                <div class="signin-login-section">
                    <!-- Reset Password Form -->
                    <div class="login-section">
                        <h2>Reset Password</h2>
                        <div class="login-form">
                            <form id="resetPasswordForm">
                                <div class="inputbox">
                                    <input type="text" id="searchaccount" name="searchaccount" required title="Enter Your Email Here">
                                    <label>Enter your email</label>
                                </div>
                                <button type="button" onclick="forgotPassword()">Send Confirmation Email</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Update the frontend code to match the new container and elements -->
        <div class="password-reset-container" style="display: none;">
            <h2 style="text-align: center;">Set a New Password</h2>
            <div class="login-form">
                <form id="resetPasswordForm">
                    <div class="inputbox">
                        <input type="password" id="newPassword" name="newPassword" required>
                        <label>Enter your new password</label>
                    </div>
                    <div class="inputbox">
                        <input type="password" id="confirmPassword" name="confirmPassword" required>
                        <label>Confirm password</label>
                    </div>
                    <button type="button" onclick="resetPassword()">Update Password</button>
                </form>
            </div>
        </div>

    </section>

    <br><br><br><br><br><br><br><br><br>

    <footer class="footer-distributed">
        <div class="footer-left">
          <a href="/"><img class="footlogo" src="/images/bahaypareslogo.png" alt="Logo" Style="width: 50%; height: auto;"loading="lazy"></a>
          <p class="footer-links">
            <a href="/index" class="link-1">Home</a>
            <a href="/menu">Menu</a>
            <a href="#">Delivery Status</a>
            <a href="#">About Us</a>
            <a href="#">Contact Us</a>
          </p>
          <p class="footer-company-name">© 2023 Bahay Pares Tapsihan – Dasmariñas.</p>
        </div>
        <div class="footer-center">
          <div>
            <h2>Contacts</h2>
            <i class="fa fa-phone"></i>
            <p>+63 975 336 5406</p>
          </div>
          <div style="white-space: nowrap;">
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:bahayparestapsihan@gmail.com" >bahayparestapsihan@gmail.com</a></p>
          </div>
          <div>
            <i class="fab fa-facebook-messenger"></i>
            <p><a href="https://www.messenger.com/t/100783298129453" target="_blank">Messenger</a></p>
          </div>
          <h2>Like Our Page</h2>
          <div>
            <i class="fab fa-facebook-f"></i>
            <p><a href="https://www.facebook.com/tapsihansapasongbayog/" target="_blank">Facebook</a></p>
          </div>
        </div>
        <div class="footer-right">
          <h2>About Us</h2>
          <p class="footer-company-about">
            As we navigate the post-pandemic world, dining out has become increasingly more complex, but no more so than in
            Bahay Pares tapsihan restaurant. The establishment, renowned for its world-class tapsi and excellent service,
            has been on a mission to revolutionize the dining experience for their guests. In the wake of social distancing
            measures, they have invested in building an online ordering system that offers convenience and accessibility.
          
          </p>
          <h2>Visit Us</h2>
          <div class="footer-right-location">
            <i class="fa fa-map-marker"></i>
            <p>89 Burol Main 4114 Dasmariñas, Philippines</p>
          </div>
        </div>
      </footer>
    <script>
        // Initialize the resetToken variable at the beginning of your script
        let resetToken;

        // Generate a reset token and store it in the variable
        resetToken = generateResetToken();

        async function forgotPassword() {
            const usernameOrEmail = document.getElementById('searchaccount').value;

            try {
                // Send a request to your server to initiate the password reset process
                const response = await fetch('/forgotpassword', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        usernameOrEmail,
                        resetToken, // Use the same token for both email and storage
                    }),
                });

                const result = await response.json();

                if (response.ok) {
                    console.log('Password reset initiated:', result.message);
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: 'Password reset link sent to your email. Check your inbox."',
                    });
                } else {
                    console.error('Password reset request failed:', result.error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Password reset request failed. Please try again.',
                    });
                }
            } catch (error) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'An error occurred while initiating password reset. Please try again later.',
                });
            }
        }

        // Function to generate a random reset token
        function generateResetToken() {
           
            const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            const tokenLength = 32; 
            let token = '';

            for (let i = 0; i < tokenLength; i++) {
                const randomIndex = Math.floor(Math.random() * characters.length);
                token += characters[randomIndex];
            }

            return token;
        }

        async function resetPassword() {
            const newPassword = document.getElementById('newPassword').value;
            const confirmPassword = document.getElementById('confirmPassword').value;

            const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])[A-Za-z\d@$!%*?&]{8,}$/;
            if (!passwordRegex.test(newPassword)) {
                Swal.fire({
                    title: 'Error!',
                    text: 'Password must be at least 8 characters long and include at least one uppercase letter and one lowercase letter.',
                    icon: 'error',
                    confirmButtonText: 'OK'
                });
                return;
            }

            if (newPassword !== confirmPassword) {
                Swal.fire({
                    icon: 'error',
                    title: 'Password Error',
                    text: 'Passwords do not match. Please try again.',
                });
                return;
            }

            const token = getResetTokenFromURL();

            try {
                // Send a request to your server to update the password
                const response = await fetch('/resetPassword', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        token,
                        newPassword
                    }),
                });

                const result = await response.json();

                if (response.ok) {
                    console.log('Password reset successful:', result.message);
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: 'Password reset successful. You can now log in with your new password.',
                    });
                    window.location.href = '/';
                } else {
                    console.error('Password reset failed:', result.error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Failed',
                        text: 'Password reset failed. Please try again.',
                    });
                }
            } catch (error) {
                console.error('Error resetting password:', error);
                Swal.fire({
                    icon: 'error',
                    title: 'Failed',
                    text: 'An error occurred while resetting the password. Please try again later.',
                });
            }
        }

        function getResetTokenFromURL() {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get('token');
        }

       
        async function checkTokenAndShowResetContainer() {
            const token = getResetTokenFromURL();

            if (token) {
                // Send a request to your server to verify the token
                const response = await fetch('/verifyToken', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        token
                    }),
                });

                if (response.ok) {
                    // Token is verified, show the password reset container
                    document.querySelector('.password-reset-container').style.display = 'block';
                    document.querySelector('.main-content').style.display = 'none';
                } else {
                    // Token is not verified, handle accordingly (e.g., show an error message)
                    console.error('Token verification failed.');
                }
            }
        }

        // Call the function when the page loads
        window.onload = checkTokenAndShowResetContainer;
    </script>

</body>

</html>