<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is page for terms and conditions">
    <title>Bahay Pares Terms and Condition Page</title>
    <link rel="icon" href="/images/bahaypareslogo.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
      body {
        text-align: justify;
        line-height: 20px;
      }

      .terms-and-conditions p {
        text-align: left;
      }

      .terms-and-conditions {
        margin-left: 30px;
      }
    </style>
</head>
<body>

    <header>
        <nav>
            <div class="logo-container">
                <a href="/"><img class="logo" src="/images/bahaypareslogo.png" alt="Logo"></a>
            </div>
            <div class="menu-icon" id="menuIcon">
                <i class="fas fa-bars fa-2x"></i>
                <input type="hidden" span id="welcomeUsername">
                <input type="hidden" id="userId" name="userId">
            </div>
            <div class="nav-items">
                <a href="/"><i class="fas fa-home" style="color: #002DB3;  margin-right: 3px;" ></i> Home</a>
                <a href="/menu"><i class="fas fa-utensils" style="color: #002DB3;  margin-right: 3px;"></i> Menu</a>
                <a href="/Vieworder"><i class="fas fa-truck"style="color: #002DB3;  margin-right: 3px;"></i> Delivery Status</a>
                <a href="/AboutUs"><i class="fas fa-info-circle"style="color: #002DB3;  margin-right: 3px;"></i> About Us</a>
                <a href="/ContactUs"><i class="fas fa-phone"style="color: #002DB3;  margin-right: 3px;"></i> Customer Care</a>
              </div>
            <div class="dropdown">
                <button id="profileIcon" class="dropbtn" style="display: none;">
                    <img src="/images/iconprofile.png" alt="Profile" width="25" height="25" class="profile-icon" loading="lazy">
                  </button>
                  <div class="dropdown-content">
                    <a href="/Profile"><i class="fas fa-user"></i>Profile</a>
                    <a href="#" id="logoutButton"><i class="fas fa-sign-out-alt"></i>Logout</a>
                  </div>
            </div>
        </nav>
        <div class="header-content">
        </div>

        <!-- Responsive Drawer -->
    <div class="drawer">
        <button id="closeDrawer" class="exit-button" title="Hide Drawer">
          <div class="circle-background">
              <i class="fas fa-times"></i>
          </div>
        </button>      
          <div class="nav-items">
            <div class="quick-search-container">
              <input type="text" id="quickSearchInput" placeholder="Quick Search">
          </div>
              <a href="/Profile" class="menu-item" id="profileMenu"><i class="fas fa-user"></i> Profile</a>
              <a href="/" class="menu-item"><i class="fas fa-home"></i>Home</a>
              <a href="/menu" class="menu-item"><i class="fas fa-utensils"></i> Menu</a>
              <a href="/Vieworder" class="menu-item"><i class="fas fa-truck"></i>Delivery Status</a>
              <a href="/AboutUs" class="menu-item"><i class="fas fa-info-circle"></i> About Us</a>
              <a href="/ContactUs" class="menu-item"><i class="fas fa-phone"></i> Customer Care</a>
              <a href="#" id="logoutMenu" style="display: none;" class="menu-item"><i class="fas fa-sign-out-alt"></i> Logout</a>
          </div>
        </div>
    </header>

    <section>
        <div class="main-content">
            <div class="welcome-signin-container">
                <div class="terms-and-conditions" style="text-align: left;">
                    <h1 style="font-size: 40px;">Terms and Conditions</h1>
                    <h3>Terms and Conditions for Bahay Pares Tapsihan – Dasmariñas Online Ordering and Delivery System
                    </h3>
                    <p>Effective Date: December 2023</p>

                    <h4>CHAPTER I: INTRODUCTION</h4>
                    <p>Background of the Terms and Conditions</p>
                    <p>These Terms and Conditions ("Terms") govern your use of the Bahay Pares Tapsihan – Dasmariñas
                        Online Ordering and Delivery System ("Service"). By accessing or using the Service, you agree to
                        be bound by these Terms. Please read them carefully before using the Service.</p>

                    <h4>CHAPTER II: USE OF THE SERVICE</h4>
                    <p>Eligibility</p>
                    <p>You must be of legal age in your jurisdiction to use this Service. By using the Service, you
                        represent and warrant that you meet these eligibility requirements.</p>

                    <p>Account Registration</p>
                    <p>To use certain features of the Service, you may need to register for an account. You agree to
                        provide accurate, current, and complete information during the registration process and to
                        update such information to keep it accurate, current, and complete.</p>

                    <p>Account Security</p>
                    <p>You are responsible for maintaining the confidentiality of your account login information and for
                        all activities that occur under your account. You agree to immediately notify us of any
                        unauthorized use of your account or any other breach of security.</p>

                    <h4>CHAPTER III: ORDERING AND PAYMENT</h4>
                    <p>Menu and Ordering</p>
                    <p>The Service allows you to view the restaurant's menu, place orders, and customize your orders.
                        You agree to provide accurate information when placing orders and to pay for all orders placed
                        through your account.</p>

                    <p>Payment</p>
                    <p>Payment for orders can be made using the available payment options, including credit cards or
                        other accepted payment methods. You are responsible for the accuracy of your payment
                        information.</p>
                    <p>Please be aware that once your payment has been successfully processed and confirmed, it is generally non-refundable. The completion of payment marks the finalization of the transaction, and thereafter, refunds may not be possible. We strongly advise thorough review of your order details before proceeding with the payment to ensure accuracy and satisfaction with your purchase.</p>

                    <h4>CHAPTER IV: DELIVERY</h4>
                    <p>Delivery Area</p>
                    <p>Our delivery service is limited to specific areas within Cavite, Philippines. Customers
                        residing outside this area are advised to use alternative delivery services.</p>

                    <p>Delivery Times</p>
                    <p>We aim to deliver orders within a reasonable timeframe. However, delivery times may vary
                        depending on factors such as order volume and traffic conditions.</p>

                    <p>Delivery Address</p>
                    <p>You are responsible for providing accurate delivery addresses. We are not responsible for orders
                        delivered to incorrect addresses due to inaccurate information provided by you.</p>

                    <h4>CHAPTER V: CANCELLATION AND REFUNDS</h4>
                    <p>Cancellation</p>
                    <p>Orders may be canceled while they are still pending. Once the order is marked as preparing or out for delivery, cancellations are not possible.</p>

                    <p>Refunds</p>
                    <p>Successful payments are generally non-refundable. However, if there is an issue with your order, such as a cancellation by our staff or concerns about food quality, we are committed to addressing it fairly. In such cases, refunds will be handled on a case-by-case basis. You can request a refund by contacting our customer support.</p>

                    <h4>CHAPTER VI: USER CONDUCT</h4>
                    <p>Prohibited Activities</p>
                    <p>You agree not to engage in any of the following activities:</p>
                  
                        <p>Violating any applicable laws or regulations.</p>
                        <p>Using the Service for any unlawful or fraudulent purposes.</p>
                        <p>Interfering with the operation of the Service or the rights of other users.</p>
                    

                    <h4>CHAPTER VII: PRIVACY</h4>
                    <p>Your use of the Service is also governed by our Privacy Policy, which is incorporated by
                        reference into these Terms. Please review our Privacy Policy to understand how we collect, use,
                        and protect your personal information.</p>

                    <h4>CHAPTER VIII: MODIFICATIONS AND TERMINATION</h4>
                    <p>We reserve the right to modify, suspend, or terminate the Service or your access to the Service,
                        with or without notice, at any time and for any reason.</p>

                    <h4>CHAPTER IX: CONTACT US</h4>
                    <p>If you have any questions, concerns, or requests related to these Terms, please contact us at
                      bahayparestapsihan@gmail.com.</p>

                    <h4>CHAPTER X: GOVERNING LAW</h4>
                    <p>These Terms are governed by and construed in accordance with the laws of the Philippines.</p>

                    <p>By using the Bahay Pares Tapsihan – Dasmariñas Online Ordering and Delivery System, you agree to
                        these Terms and Conditions.</p>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer-distributed">
        <div class="footer-left">
          <a href="/"><img class="footlogo" src="/images/bahaypareslogo.png" alt="Logo" Style="width: 50%; height: auto;"loading="lazy"></a>
          <p class="footer-links">
            <a href="/index" class="link-1">Home</a>
            <a href="/menu">Menu</a>
            <a href="#">Delivery Status</a>
            <a href="#">About Us</a>
            <a href="#">Contact Us</a>
          </p>
          <p class="footer-company-name">© 2023 Bahay Pares Tapsihan – Dasmariñas.</p>
        </div>
        <div class="footer-center">
          <div>
            <h2>Contacts</h2>
            <i class="fa fa-phone"></i>
            <p>+63 975 336 5406</p>
          </div>
          <div style="white-space: nowrap;">
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:bahayparestapsihan@gmail.com" >bahayparestapsihan@gmail.com</a></p>
          </div>
          <div>
            <i class="fab fa-facebook-messenger"></i>
            <p><a href="https://www.messenger.com/t/100783298129453" target="_blank">Messenger</a></p>
          </div>
          <h2>Like Our Page</h2>
          <div>
            <i class="fab fa-facebook-f"></i>
            <p><a href="https://www.facebook.com/tapsihansapasongbayog/" target="_blank">Facebook</a></p>
          </div>
        </div>
        <div class="footer-right">
          <h2>About Us</h2>
          <p class="footer-company-about">
            As we navigate the post-pandemic world, dining out has become increasingly more complex, but no more so than in
            Bahay Pares tapsihan restaurant. The establishment, renowned for its world-class tapsi and excellent service,
            has been on a mission to revolutionize the dining experience for their guests. In the wake of social distancing
            measures, they have invested in building an online ordering system that offers convenience and accessibility.
          
          </p>
          <h2>Visit Us</h2>
          <div class="footer-right-location">
            <i class="fa fa-map-marker"></i>
            <p>89 Burol Main 4114 Dasmariñas, Philippines</p>
          </div>
        </div>
      </footer>

      <script>
            document.addEventListener('DOMContentLoaded', function () {
      const menuIcon = document.querySelector('.menu-icon'); // Change the selector to use class
      const drawer = document.querySelector('.drawer');

      menuIcon.addEventListener('click', function () {
        if (drawer.style.left === '0px' || !drawer.style.left) {
          drawer.style.left = '-250px'; // Hide the drawer
        } else {
          drawer.style.left = '0'; // Show the drawer
        }
      });
      const closeDrawerButton = document.getElementById('closeDrawer');
      closeDrawerButton.addEventListener('click', function () {
        drawer.style.left = '-250px'; // Hide the drawer
      });
    });

    document.addEventListener('DOMContentLoaded', function () {
        const quickSearchInput = document.getElementById('quickSearchInput');
        const menuItems = document.querySelectorAll('.nav-items .menu-item');

        quickSearchInput.addEventListener('input', function () {
            const searchTerm = quickSearchInput.value.toLowerCase();

            menuItems.forEach(function (menuItem) {
                const menuItemText = menuItem.innerText.toLowerCase();

                // Check if the search term is present in the menu item text
                if (menuItemText.includes(searchTerm)) {
                    menuItem.style.display = 'block';
                } else {
                    menuItem.style.display = 'none';
                }
            });
        });
    });
      </script>
</body>

</html>