
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  line-height: 2;
 
}
.parallax-background {
  /*For header*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  z-index: -1;
  background-image: url("/images/headerbackground.png");
  background-size: cover;
  background-position: center;
  transition: height 0.3s;
}

h2 {
  margin-bottom: 20px;
  font-size: 28px;
  color: #004080;
  text-align: center;
}
.about-us-container {
  padding: 40px;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 300px;
}

.main-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

.welcome-signin-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.aboutuslogo {
  max-width: 400px;
  margin: 5px;
}

.signin-login-section {
  position: relative;
  background-color: transparent;
  /* Set background to transparent */
  margin: 20px 0;
  padding: 20px;
  z-index: 1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.login-section h2 {
  margin-bottom: 20px;
  font-size: 28px;
  color: #004080;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.map {
  width: 100%;
  max-width: 800px;
  height: 450px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 100px;
}


@media screen and (max-width: 900px) {

  /* Styles for screens with a maximum width of 480px */
  body {
    max-width: 100%;
  }

  header h1 {
    font-size: 1px;
  }

  nav {
    padding: 10px 0;
  }

  nav a {
    padding: 8px 12px;
    font-size: 15px;
  }

  iframe {
    max-width: 100%;
  }

  .about-us-container {
    background-color: #f9f9f9;
    padding: 40px;
    max-width: 100%;
  }
}


@media screen and (max-width: 480px) {

  /* Styles for screens with a maximum width of 480px */
  body {
    max-width: 100%;
    font-size: 12px;
  }

  header h1 {
    font-size: 1px;
  }

  nav {
    padding: 10px 0;
  }

  nav a {
    padding: 8px 12px;
    font-size: 15px;
  }

  iframe {
    max-width: 100%;
  }

  .aboutuslogo {
    max-width: 300px;
  }

  .about-us-container {
    background-color: #f9f9f9;
    padding: 40px;
    max-width: 100%;
  }
}