
section {
    padding: 20px;
    text-align: center;
}


.main-content {
    border-radius: 5px;
    padding: 20px;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}


h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}


#contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactuslogo {
    max-width: 400px;
    margin: 30px;
}

.inputbox{
    position: relative;
    margin: 30px;
    width: 310px;
    border-bottom: 2px solid black;
}

.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform:translateY(-50%);
    color: black;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
    top: -5px;
}


.inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0px 35px 0px 5px;
    color: black;
}

.textareabox {
    position: relative;
    margin: 30px;
    width: 310px;
    border: 2px solid black;
}

.textareabox label {
    position: absolute;
    top: 10px;
    left: 5px;
    color: black;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

textarea:focus ~ label, textarea:valid ~ label {
    top: -34px;
}

.textareabox textarea {
    width: 100%;
    max-width: 100%;
    height: 300px; 
    background: transparent;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 14px;;
    padding: 10px;
    color: black;
    resize: vertical;
}


button[type="submit"] {
    background-color:#0d47a1 ;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color:  #0056b3;
}

@media screen and (max-width: 1300px) {

    header h1 {
        font-size: 20px;
    }

    nav {
        padding: 10px 0;
    }

    nav a {
        padding: 8px 12px;
        font-size: 15px;
    }

    .special-offer {
        margin-bottom: 30px;
    }

    .menu-icon {
        display: block;
    }

    .nav-items {
        display: none;
        /* Initially hide the navigation items */
    }

    .nav-items_header {
        display: block;
        font-size: 24px;
        color: #fff;
    }

}

@media screen and (max-width: 800px) {

    .contactuslogo {
        max-width: 300px;
        margin: 55px;
    }

    header h1 {
        font-size: 20px;
    }

    nav {
        padding: 10px 0;
    }

    nav a {
        padding: 8px 12px;
        font-size: 15px;
    }

    .special-offer {
        margin-bottom: 30px;
    }

    .menu-icon {
        display: block;
    }

    .nav-items {
        display: none;
        /* Initially hide the navigation items */
    }

    .nav-items_header {
        display: block;
        font-size: 24px;
        color: #fff;
    }

}

@media screen and (max-width: 480px) {


    body {
        max-width: 100%;
        font-size: 12px;
    }


    header h1 {
        font-size: 1px;
    }

    nav {
        padding: 10px 0;
    }

    nav a {
        padding: 8px 12px;
        font-size: 15px;
    }

    .special-offers {
        width: 90%;

        margin-bottom: 30px;
    }


    .menu-icon {
        display: block;
    }

    .nav-items {
        display: none;
        /* Initially hide the navigation items */
    }

    .nav-items_header {
        display: block;
        font-size: 12px;
        color: #fff;
    }

    .footer {
        background-color: #15034d;
        color: #fff;
        padding: 10px;
        text-align: center;
        margin-top: auto;
        font-size: 10px;
    }
    
    .social-icons {
        display: inline-block;
        font-size: 10px;
    }
    
    .social-icons a {
        text-decoration: none;
        color: #fff;
        margin: 0 10px;
        font-size: 20px;
        width: 20px;
        height: 20px;
    }
    
    .copyright {
        display: inline-block;
        margin-top: 10px;
        font-size: 12px;
    }

}