.containers {
  max-width: 700px;
  background: transparent;
}


.tab {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.tab button {
  background-color: #c9c9c9;
  border: none;
  padding: 20px 90px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.left-align {
  text-align: left;
}
    
.right-align {
  text-align: right;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #0056b3;
  color: white;
}

.order-container {
  border: 1px solid #023469;
  background-color: white;
  border-radius: 5px;
  margin: 20px 0;
  padding: 20px;
}

.order-details {
  display: flex;
  flex-direction: column;
}

.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.order-header span {
  font-weight: bold;
  margin-right: 20px;
}

.order-items {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
}

.item {
  flex-basis: calc(93.33% - 20px);
  margin: 10px 10px;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
}

.order-total {
  text-align: right;
  font-weight: bold;
  margin-top: 10px;
}

.myorderslogo {
  max-width: 400px;
  margin: 5px;
  text-align: center;
  align-items: center;
  margin-left: 150px;
}

.cancel-button {
  background-color: #FF0000;
  color: #FFF;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.cancel-button:hover {
  background-color: #FF3333;
}



/* Mobile styles using a media query */
@media (max-width: 768px) {
  .tab button {
    padding: 30px 35px; 
    font-size: 12px; 
  }

  .order-container {
    padding: 10px;
  }

  .order-header {
    flex-direction: column; 
    align-items: flex-start; 
  }

  .order-header span {
    font-weight: bold;
    margin-right: 0; 
    margin-bottom: 10px; 
  }

  .order-items {
    width: 100%; 
  }

  .item {
    flex-basis: 100%;
  }

  .order-total {
    font-size: 18px; 
  }

  .myorderslogo {
    max-width: 100%; 
    margin-left: 0; 
  }

  .cancel-button {
    padding: 8px 16px; 
    margin-top: 10px; 
  }
}