.inputbox {
    position: relative;
    margin: 30px;
    width: 310px;
    border-bottom: 2px solid black;
}

.name-input-container .inputbox {
    position: relative;
    margin: 30px;
    width: 130px;
    border-bottom: 2px solid black;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: black;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus~label,
input:valid~label {
    top: -5px;
}


.inputbox input {
    width: 100%;
    height: 20px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
}

.name-input-container {
    display: flex;
}

@media screen and (max-width: 480px) {
    .inputbox {
        position: relative;
        margin: 10px;
        width: 200px;
        border-bottom: 2px solid black;
    }
    
    .name-input-container .inputbox {
        position: relative;
        margin: 10px;
        width: 120px;
        border-bottom: 2px solid black;
    }
    
    .inputbox label {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        color: black;
        font-size: 1em;
        pointer-events: none;
        transition: .5s;
    }

  }