.inputbox{
    position: relative;
    margin: 30px;
    width: 310px;
    border-bottom: 2px solid black;
}

.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform:translateY(-50%);
    color: black;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
    top: -5px;
}

button {
    background-color: #ffffff;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  button:hover {
    background-color: rgb(36, 170, 36);
  }
  


.inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0px 35px 0px 5px;
    color: black;
}